.row{
    display: flex;

}

.col{
    flex: 1;
    background-color: blueviolet;
    /* justify-content: space-evenly; */
    margin: 10px;
    height: 50px;
    /* justify-content: space-between; */

}

.col-1{
    flex: 1;
    background-color: thistle;
    height: 70px;
    margin: 10px;
}

.col-4{
    flex: 2;
    background-color: thistle;
    height: 70px;
    margin: 10px;

}
.col-2{
    flex: 2;
    background-color: tomato;
    height: 90px;
    margin: 10px;

}

.col-3{
    flex: 3;
    background-color: tomato;
    height: 90px;
    margin: 10px;

}