*{
    margin: 0;
    padding: 0;
}
.top {
    background-color: black;
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    /* margin-left: 20px; */

}


.title {
    color: white;
    margin-left: 198px;
    padding: 17px;
    /* justify-content: ; */
}

#links {
    /* justify-content: space-between; */
    display: flex;
    gap: 18px;
    /* justify-content: flex-end; */
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 17px;
    margin-left: 10px;
}

.list {
    text-decoration: none;
    color: white;
}

.btn {
    margin-left: 100px;
    background-color: aqua;
    color: white;
    padding: 7px;
    width: 58%;
}

.container {
    width: 1000px;
    height: 500px;
    background-color: white;
    margin-left: 20px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;

}

.body {
    background-color: white;
    height: 500px;
    width: 300px;
    margin-left: 72px;
}

.body1 {
    background-color: white;
    height: 500px;
    width: 300px;

}

.right {
    width: 380px;
    height: 235px;
    background-color: white;
    margin-left: 15px;
    margin-top: 10px;
    /* border-radius: 5px; */
    /* padding-left: 10px; */
    padding-bottom: 50px;
    border: 1px solid grey;

}

.right1 {
    width: 380px;
    height: 120px;
    background-color: white;
    margin-left: 10px;
    margin-top: 50px;
    border: 1px solid grey;
    /* color: white; */

}

.left {
    width: 200px;
    height: 125px;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid grey;
    /* color: white; */

}

.left1 {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid grey;
    /* color: white; */

}

.top4 {
    width: 380px;
    height: 80px;
    /* padding: 5px; */
    border-radius: 3%;
    /* padding-left: 1px; */
    background-color: rgb(87, 191, 215);
}

.top1 {
    width: 380px;
    height: 30px;
    background-color: black;
    color: white;
    /* margin-top: 5px; */

}

.top2 {
    width: 195px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;

}

.top3 {
    width: 190px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.bottom {
    width: 200px;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid grey;
    margin-top: 5px;

}

img {
    width: 30px;
    /* height: 20px; */
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.dojo {
    color: black;
    margin-top: 20px;
    padding-left: 10px;
}

.jane {
    width: 100px;
    /* height: 80px; */
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 27px;

}

#jane {
    margin-top: 40px;
    margin-left: 23px;

}

p {
    margin-left: 21px;
}

.edit {
    color: blue;
    margin-left: 5px;
}

#view {
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-left: 10px;
    /* padding-bottom: 5px; */
    /* color: black; */
}
#image{
    width: 10px;
    margin-left: 24px;
}
h5{
    padding: 2px;
    padding-top: 5px;
    margin-left: 10px;
}
#dec{
    font-size: small;
    color: rgb(168, 162, 162);
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}
#check{
    width: 20px;
}
#num2{
    border-radius: 50%;
    background-color: aliceblue;
    width: 40px;
    color: black;
    padding: 4px;
    margin-right: 5px;

}
#num5{
    border-radius: 50%;
    background-color: aliceblue;
    width: 30px;
    color: black;
    padding: 5px;
    margin-right: 5px;

}
#your{

}
/* .body2 {
    background-color: #00ffae;
    height: 100px;
    width: 100px; */
/* }
.body3 {
    background-color: #aeff00;
    height: 100px;
    width: 100px;
} */